@page
@model SpeciesModel
@{
    ViewData["Title"] = "Species";
}

<div class="layout-width">
    @if (!string.IsNullOrWhiteSpace(Model.LastInsertedSpeciesName))
    {
        <div class="alert">
            Espèce ajoutée : <strong>@Model.LastInsertedSpeciesName</strong>
        </div>
    }

    <h1>Espèces</h1>

    <a asp-page="/Species/Add">Ajouter une espèce</a>

    <div class="species-grid">
        @foreach (var s in Model.SpeciesList)
        {
            <partial name="Species/_SpeciesCard" model="s"/>
        }
    </div>
</div>
