@page
@model LoginModel

@{
    ViewData["Title"] = "Connexion";
}

<h1>Bon retour parmi nous</h1>
<p>Accédez à votre compte de chercher BioDomes.</p>

<form method="post" asp-route-returnUrl="@Model.ReturnUrl" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div>
        <label asp-for="Input.Identifier"></label>
        <input asp-for="Input.Identifier" autocomplete="username" />
        <span asp-validation-for="Input.Identifier" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" autocomplete="current-password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    
    <div>
        <input asp-for="Input.RememberMe" />
        <label asp-for="Input.RememberMe"></label>
    </div>
    
    <button type="submit">Se connecter</button>
</form>

<p>
    <a asp-page="./ForgotPassword">Mot de passe oublié ?</a>
</p>

<p>
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Créer un profil</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
