@using BioDomes.Infrastructures.EntityFramework.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserEntity> SignInManager
@inject UserManager<UserEntity> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="action-link" asp-area="" asp-page="/Dashboard/Index">Bonjour @User.Identity?.Name</a>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("~/")" method="post" style="display:inline;">
        <button type="submit" class="action-button">Déconnexion</button>
    </form>
}
else
{
    <a class="action-link" asp-area="Identity" asp-page="/Account/Login">Connexion</a>
    <a class="action-button" asp-area="Identity" asp-page="/Account/Register">Inscription</a>
}

