@page
@model SpeciesModel
@{
    ViewData["Title"] = "Species";
}

@if (!string.IsNullOrWhiteSpace(Model.LastInsertedSpeciesName))
{
    <div class="alert">
        Espèce ajoutée : <strong>@Model.LastInsertedSpeciesName</strong>
    </div>
}

<h1>Espèces</h1>

<a asp-page="/Species/Add">Ajouter une espèce</a>

@foreach (var s in Model.Species)
{
    <partial name="Species/_SpeciesCard" model="s"/>
}